<%- include('../layout/headerSection') %>
<%- include('../layout/header') %>

<h3 class="display-1 text-center mb-5 mt-5">Services </h3>
<div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 30px; max-width: 1000px; margin: 0 auto; padding: 0 20px;">
    

    <% servicesData.forEach(service => { %>
        <div style="background: linear-gradient(135deg, #ffffff, #d9e8ff);
            padding: 45px 30px;
            border-radius: 25px;
            box-shadow: 0 12px 30px rgba(0,0,0,0.1);
            flex: 1 1 250px;
            min-width: 250px;
            text-align: center;
            transition: all 0.4s;"
            onmouseover="this.style.transform='scale(1.05)'"
            onmouseout="this.style.transform='scale(1)'">

            <img src="<%= service.image %>" width="250" height="150" style="border-radius: 15px; margin-bottom: 15px;">

            <h2 style="color: #004080; margin-bottom: 15px;">
                <%= service.title %>
            </h2>

            <p style="color: #555; line-height: 1.6;">
                <%= service.description %>
            </p>
        </div>
    <% }) %>

</div>


<%- include('../layout/footer') %>
